<!DOCTYPE html>
<html>
<head><title><%= title %></title></head>
<body style="font-family: sans-serif; text-align: center; padding: 50px;">
    <h1>Welcome to WarpZone</h1>
    <p>Agensi Perjalanan Antar Dimensi Terpercaya.</p>
    <a href="/bookings/book">Pesan Tiket Sekarang</a> | 
    <a href="/bookings/list">Lihat Manifest Penumpang</a>
</body>
</html>